/*
- form in column direction - mobile layout
- change direction to row at 592 breakpoint
- add image at 768px breakpoint, img section layout is a fixed sidebar, it contains footer text, with a margin bottom of 5rem.
- remove margin bottom at 1024px breakpoint, at thesame time, add sticky footer section
- heading font-familu: AlmarenaBold, sans-serif;
-  labels font-family:  AlmarenaDisplayBold, sans-serif;
 */
:root {
	--light: #fafafa;
	--text-color1: #044fbb;
	--text-color2: #0c1e4b;
	--text-color3: #1f1f1f;
	--text-color4: #56585b;
	--placeholder: #5e5f5f;
	--bg-one: #fff;
    --focus-ring: #c7def670;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-style: normal;
	font-family: "Mukta", sans-serif;
	font-size: 1rem;
	color: var(--text-color3);
	background-color: var(--bg-one);
	line-height: normal;
}
.mukta-light {
	font-weight: 300;
}

.mukta-regular {
	font-weight: 400;
}

.mukta-medium {
	font-weight: 500;
}

.mukta-bold {
	font-weight: 700;
}

.mukta-extrabold {
	font-weight: 800;
}
.margin-bn {
	margin-bottom: 1.5rem;
}
.txt-center {
    text-align: center;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/*-------- header ---------*/
header * {
	text-align: center;
}
header .home {
	background-color: var(--light);
	padding: 0.5rem;
}
a[href],
a[href]:link {
	color: var(--text-color1);
}
nav img {
	width: 80px;
	margin-inline: auto;
}
.logo-n-signUp {
	font-size: 1.15rem;
}

/*-------- main ---------*/
.container {
	display: grid;
	grid-template-rows: auto 1fr;
}
main.wrapper {
	width: 92%;
	margin-inline: auto;
}

/*------ form  -------*/
form h1 {
	font-size: 1.3rem;
	color: var(--text-color2);
}
h1 + p {
	color: var(--text-color4);
}
.hero,
footer {
	display: none;
}
form:invalid {
	border: unset;
}
form label,
input,
select,
button {
	display: block;
	width: 100%;
}
input,
select,
button {
	border-radius: 5px;
	padding: 1rem;
	line-height: 1.5;
}
input,
select {
	border: none;
	margin-block-end: 1rem;
	font-size: 1rem;
	color: var(--text-color2);
	background-color: var(--light);
}
form label {
	font-size: 1.15rem;
	font-weight: 300;
}
 /* ensure cross-browser consistency */
::-webkit-input-placeholder,
::placeholder,
input::placeholder,
select,
input[type="date"] {
	color: var(--placeholder);
	font-size: 0.85rem;
	font-weight: 300;
	letter-spacing: 1.5px;
}
input:focus, select:focus {
    outline: 2px solid var(--focus-ring);
    outline-offset: 1px;
    border: 1px solid var(--text-color1);
    border-radius: 5px;
}
button {
	border: none;
	margin-block-end: 4rem;
	background-color: #5156ec;
	color: var(--light);
	cursor: pointer;
    font-size: 1rem;
}
.terms {
	color: var(--text-color4);
}
.footer-text-all {
    line-height: 1.2;
    max-width: 400px;
}
/**------ Large screen layout  *------*/
@media screen and (min-width: 768px) {
	.hero,
	footer {
		display: block;
	}
	.container {
		grid-template-columns: minmax(auto, 1fr) 1.5fr;
		grid-template-areas: "hero header" "hero wrapper" "hero footer";
		max-height: 100vh;
	}
	main.wrapper {
        grid-area: wrapper; /* Assign grid area to main */
        width: 90%;
        max-width: 900px;
        margin-inline: auto;
        overflow: auto;
	}
	.hero {
		grid-area: hero; /* Assign grid area to hero */
        background-color: var(--light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
	}
	footer.footer {
		grid-area: footer; /* Assign grid area to footer */
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: var(--bg-one);
	}
	header.header {
		grid-area: header; /* Assign grid area to header */
	}
    .hero-text {
        font-size: 3rem;
        line-height: 1;
        padding-inline: 1rem;
    }
    .footer > div {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .footer-text-on-tablet {
        display: none;
    }
    .footer > div {
        display: revert;
    }
    footer.footer p {
        padding-inline-start: 2.5rem;
    }
}
