/* color scheme:  Monochromatic */
:root {
	--text-color: #162939;
	--text-color-2: #1d3a4d;
	--opaque-color: #3f122f8e;
	--body-color: rgba(240, 239, 239, 0.97);
	--medium-shade: #6a2153;
	--light-shade: #fffffe;
	--accent-color: #9c0566;
	--blur-color: #f0efee70;
	--blur-color2: rgba(255, 255, 255, 0.205);
	--blur-color3: rgb(63 18 42 / 64%);
	--blur-radius: blur(3px);
	--blur-radius2: blur(10px);
	--shadow-one: rgba(66, 60, 67, 0.3) 0px 1px 2px 0px,
		rgba(67, 65, 60, 0.15) 0px 2px 6px 2px;
	--shadow-two: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
img {
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
}
.resume a,
.new-tab-links a {
	display: inline-block;
	max-width: fit-content;
    z-index: 2;
}
/*--- Utility classes --*/
.no-link-decor {
	text-decoration: none;
}
.d-block {
	display: block;
}
.d-inline-block {
	display: inline-block;
}
.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.justify-even {
	justify-content: space-evenly;
}
.align-center {
	align-items: center;
}
.txt-center {
	text-align: center;
}
.gap-1 {
	gap: 1rem;
}
.padding-x {
	padding-inline: 1rem;
}
.font-light {
	font-weight: 300;
}
.b-radius {
	border-radius: 5px;
}
.maroon-heading,
h1 {
	color: var(--medium-shade);
}

/*---------- Mobile layout  --------*/
.wrapper {
	display: grid;
	grid-template-rows: 8vh 90vh 1fr auto;
}
.bg-container {
	display: grid;
	grid-template-rows: auto minmax(100vh, 1fr) auto;
}
.bg-container,
.wrapper {
	background-color: var(--body-color);
}
body {
	background: url(https://res.cloudinary.com/durufresj/image/upload/v1724777697/altschool/blurr-background_ew9mi8.png);
	background-position: center center;
	font-size: 1rem;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	font-style: normal;
	color: var(--text-color);
	line-height: 1.5;
}
a[href] {
	color: var(--text-color-2);
}
a:hover:not(.nav-menu a, .footer a[href], .logo a[href]),
.new-tab-links a:hover {
	color: var(--accent-color);
}
header.hide-on-lg-screen,
nav.menu {
	display: flex;
	align-items: center;
}
header.hide-on-lg-screen {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
	padding-inline: 1rem;
	justify-content: space-between;
}
nav.menu {
	border-bottom: 1px solid var(--light-shade);
	justify-content: space-around;
}
header a,
.logo > span {
	display: inline-block;
}
.logo,
.resume {
	display: inline-flex;
	min-width: 90px;
	background-color: var(--blur-color);
	backdrop-filter: var(--blur-radius);
	-webkit-backdrop-filter: var(--blur-radius);
}
.logo > span {
	margin-right: 4px;
	background-color: var(--text-color);
}
.logo > span > img {
	height: 40px;
	width: 40px;
}
.logo a.shadows-into-light-regular,
.logo a.shadows-into-light-regular:link {
	font-family: "Shadows Into Light", Calibri;
	font-weight: 400;
	color: var(--text-color);
	font-size: 28px;
}
.logo a.shadows-into-light-regular:hover,
.logo a.shadows-into-light-regular:active {
	text-decoration: underline;
}
header > .border {
	border-inline-start: 1px solid var(--light-shade);
	height: 100%;
}
.resume a {
	letter-spacing: 2px;
	padding: 10px;
}
.resume a:hover,
.resume a:active {
	color: var(--medium-shade);
}
.nav-menu > span.hide-sm-screen {
	display: none;
}
.nav-menu {
	display: flex;
	flex-direction: column;
}
nav.nav-menu > a {
	color: var(--text-color);
	font-size: 230%;
	font-weight: 900;
	flex: 1;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
.nav-links-mobile {
	width: 90%;
	margin-inline: auto;
	margin-block-end: 1rem;
	background-size: 0% 100%;
	transition: background-color 0.5s;
    z-index: 2;
}
.nav-links-mobile:hover {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 200% 100%;
	transition: background-size 1s, background-color 1s;
}
.gradient-text {
	background-color: var(--text-color);
	background-image: linear-gradient(
		45deg,
		rgba(22,41,57,1) 40%, rgba(156,2,102,0.9010197829131653) 65%
	);
	background-size: 100%;
	background-repeat: repeat;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

nav.nav-menu > a:first-of-type {
	margin-block-start: 1em;
}
.new-tab-links a {
	font-size: 1em;
	padding: 10px 16px;
	border: 1px solid var(--medium-shade);
	box-shadow: rgba(67, 65, 60, 0.09) 0px 2px 1px,
		rgba(67, 65, 60, 0.09) 0px 4px 2px,
		rgba(67, 65, 60, 0.09) 0px 8px 4px,
		rgba(67, 65, 60, 0.09) 0px 16px 8px,
		rgba(67, 65, 60, 0.09) 0px 32px 16px;
}
/* media and table page */
nav.menu a[href] {
	padding: 10px;
}

header.header-two {
	margin-block-end: 2em;
	position: sticky;
	top: 0px;
	left: 0px;
	z-index: 5;
	background-color: var(--blur-color);
	backdrop-filter: var(--blur-radius);
	-webkit-backdrop-filter: var(--blur-radius);
}

/*---- main SECTIONS ----*/
.sec-padding {
	padding: 1.5rem 1rem;
}

h1,
h2,
h3 {
	text-align: center;
	font-weight: 300;
}
p {
	word-wrap: break-word;
}
.header-rule {
	margin-inline: auto;
	border-block-end: 1.5px solid var(--accent-color);
	width: 50px;
}
.header-rule,
section:nth-of-type(3) > ul {
	margin-bottom: 1.4em;
}
.main section:first-child {
	margin-block-start: 1.5rem;
}
header > h1 {
	font-size: 2rem;
}
section:first-child > .cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	margin-block-end: 1.5em;
}
.cards > p {
	min-height: 150px;
	background-color: var(--blur-color2);
	backdrop-filter: var(--blur-radius2);
	-webkit-backdrop-filter: var(--blur-radius2);
	color: var(--text-color-2);
	font-size: 1.15rem;
	box-shadow: var(--shadow-one);
	text-align: center;
}
.cards p:first-child ~ p {
	padding: 0 20px;
}
section:first-child > small {
	border: 2px dashed var(--medium-shade);
	padding: 10px;
}

/*-- SKILLS section --*/
.main h2 {
	font-size: 1.5rem;
}
section:nth-of-type(2) > ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	& li {
		display: inline-block;
		background-color: transparent;
		padding: 0.6rem;
		border: 2px solid var(--opaque-color);
		border-radius: 5px;
	}
}

/*-- INFO section --*/

section:nth-of-type(3) > ul,
section:nth-of-type(4) > ol {
	padding: 30px;
	border: none;
	backdrop-filter: var(--blur-radius2);
	-webkit-backdrop-filter: var(--blur-radius2);
	background-color: var(--blur-color2);
	box-shadow: var(--shadow-two);
	& li {
		margin-bottom: 10px;
	}
}

section:nth-of-type(3) > p {
	border: 1px solid;
	margin-bottom: 1em;
	padding: 12px;
	text-align: justify;
}

::marker {
	font-weight: bold;
}
details summary::marker {
	content: "\002B""";
}
details[open] summary::marker {
	content: "\2212""";
}
details {
	margin-block-end: 16px;
}
summary {
	font-size: 0.92rem;
	padding: 10px 12px;
	border: 1px solid var(--medium-shade);
	outline: 2px solid #9c056685;
	outline-offset: 1.5px;
}
summary:hover {
	border: 1px solid var(--accent-color);
}
summary a[href="./form.html"] {
	padding: 0.5rem;
}

/*-- GOALS section --*/ /*--- FOOTER ---*/

section:nth-of-type(4),
.footer {
	background-color: var(--text-color);
}
section:nth-of-type(4),
.footer a[href],
.footer p {
	color: var(--body-color);
}
.footer {
	border-block-start: 1px solid var(--medium-shade);
}
.footer .button {
	display: none;
	all: unset;
}
.footer .button.show-button {
	display: block;
	position: fixed;
	bottom: 0.5rem;
	right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	backdrop-filter: var(--blur-radius);
	background-color: var(--blur-color3);
	-webkit-backdrop-filter: var(--blur-radius);
	outline: 1px solid var(--body-color);
}
.footer .button > a {
	text-align: center;
	padding: 1.1rem;
	border-radius: 50%;
}
.footer .button img {
	display: inline-flex;
	justify-content: center;
}
.footer > .social,
.footer > .copyright {
	padding: 0.7rem;
	font-weight: 300;
}
.footer > p.social {
	padding-block-end: 1.5rem;
}
.footer > .copyright {
	font-size: 0.85rem;
}
@media screen and (max-width: 949px) {
    .hero-pic {
    background-image: url(../assets/images/stunning_nature.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.overlay {
    background: linear-gradient(180deg, rgba(255, 255, 254, 0.755) 0%, rgba(255, 255, 254, 0.692) 55%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

}
/*---------- Desktop layout  --------*/
@media all and (min-width: 950px) {
	.reduce-width {
		max-width: 900px;
		margin-inline: auto;
	}
	.resume a,
	.new-tab-links a {
		max-width: 80px;
		padding: unset;
	}
	.nav-links-mobile,
	.gradient-text {
		all: unset;
	}
	.nav-links-mobile:hover {
		background-color: none;
		background-image: none;
		transition: none;
	}
	nav.nav-menu > a {
		width: 100%;
	}
	main.main {
		grid-area: main;
	}
	section:first-child > .cards {
		grid-template-rows: 300px;
	}
	header.hide-on-lg-screen {
		display: none;
	}
	.wrapper {
		grid-template-rows: unset;
		grid-template-columns: 250px minmax(auto, 1fr);
		grid-template-areas: "nav-menu main" "nav-menu footer";
		column-gap: 1rem;
	}
	.nav-menu {
		grid-area: nav-menu;
		position: fixed;
		top: 0;
		bottom: 0;
		width: unset;
		border-inline-end: 2px solid var(--opaque-color);
		height: 100%;
		padding-inline: 10px;
	}
	.footer {
		grid-area: footer;
	}
	nav.nav-menu > a {
		font-size: 100%;
		font-weight: 400;
		flex: 0 1 18%;
	}
	.nav-menu div.border {
		height: 1px;
		background-color: var(--medium-shade);
		margin-block: 0.5rem;
	}
	.nav-menu > span.hide-sm-screen {
		display: block;
		text-align: center;
	}
	h1,
	header > h1 {
		font-size: 2.25rem;
	}
	h2,
	.main h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	.new-tab-links {
		gap: 0.5rem;
	}
	.new-tab-links a {
		padding: 8px 10px;
	}
	.cards > p {
		font-size: 140%;
	}
	section:nth-of-type(2) > ul {
		justify-content: center;
	}
}
